.header {
  height: 80px;
  background-color: #49bce2;
  padding: 0 50px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100% - 15%;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header_item-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header_item-right-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_icon {
  font-size: 25px;
  color: white;
  cursor: pointer;
}
.header_item-left-icon {
  display: none;
}
@media (max-width: 900px) {
  .header_item-left-logo {
    display: none;
  }
  .header_item-left-icon {
    display: inline;
  }
  .header_item-right-content {
    display: none;
  }
}
