.Sidebar-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 80px;
}
.Sidebar-container a {
  text-decoration: none;
  color: black;
}
@media (max-width: 900px) {
  .Sidebar-container {
    display: none;
  }
}
